html {
   height: 100%;
}

body {
   background-image: linear-gradient(to top, #092651, #0a3b60, #145a90, #34b99a);
   color: aliceblue;
   font-family: "Lato", sans-serif;
   font-weight: 300;
   font-style: normal;
   text-align: left;
   margin: 0;
   font-size: 18px;
   height: 100%;
   line-height: 1.3;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.logo {
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
}

.logo h3 {
   font-weight: 100;
   font-size: 18px;
   line-height: 0.9;
   text-align: right;
   margin: 0;
   margin-right: 10px;
}

header img {
   width: 45px;
   display: block;
   margin: 2px auto;
}

header form {
   max-width: 400px;
   width: auto;
   margin: 0 auto;
   padding: 10px 0;
   background-color: rgba(189, 189, 189, 0.119);
   border-radius: 30px;
   display: flex;
}

main {
   display: flex;
   justify-content: space-between;
   border-top: #2792766f 1px solid;
   margin: 30px 0 20px 0;
   padding: 0 20px;
}

main h1 {
   display: flex;
   font-size: 45px;
   line-height: 0.9;
}

main h1 .temp {
   font-size: 90px;
   font-weight: 300;

}

main h1 img {
   width: 50px;
   margin: 25px 5px 0 0;
   background-color: rgba(189, 189, 189, 0.119);
   border-radius: 20px 2px 20px 20px;
}

main h1 .unit {
   font-size: 20px;
   font-weight: 300;
   float: right;
   margin-top: 13px;
}

footer {
   font-size: 16px;
   border-top: #2792766f 1px solid;
   margin: 10px 0;
   padding: 10px 0;
   text-align: center;
}

footer a {
   font-weight: 600;
   color: #88c709;
   text-decoration: none;
}

#input {
   border: none;
   background-color: transparent !important;
   width: 55%;
   padding: 10px 15px;
   margin: 0 auto;
   border-radius: 20px;
   color: aliceblue;
   font-family: "Lato", sans-serif;
   font-size: 16px;

}

#input::placeholder {
   color: rgba(240, 248, 255, 0.415);
   font-family: "Lato", sans-serif;
   font-size: 16px;
   font-weight: 400;
}

#btn {
   background-color: transparent !important;
   border: none;
   color: aliceblue;
   padding: auto;
   font-family: "Lato", sans-serif;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   width: 20%;
   margin: 0 auto;
}

.container {
   background-color: rgba(32, 62, 93, 0.202);
   max-width: 510px;
   width: 80%;
   margin: 60px auto;
   border-radius: 40px 0;
   padding: 40px 40px 0 40px;
   box-shadow: 0 1px 30px rgba(72, 109, 98, 0.308);
}

.location {
   width: 60%;
   margin-top: 15px;
   margin-right: 10px;
   box-sizing: border-box;
}

#description {
   text-transform: capitalize;
}

.highlight {
   font-weight: 600;
   color: #88c709;
}

.weather {
   margin: 50px 0 0 0;
   padding: 25px 0 0 0;
}